/* css variable declaration */
:root {
    --dark: #171717;
    --light: #d5ceca;
    --darkred: #ac3632;
}

/* universal select */
* {
    margin: 0;
    padding: 0;
    font-family: Helvetica, sans-serif;
    background-color: var(--dark);
    color: var(--light);
 }

 /* text decoration and background */
 a {
    text-decoration: none;
    background: none;
 }

 /* header */
.nav-bar {
    background-color: var(--dark);
    padding: 22px;
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

/* navbar */   
.nav-bar a   {
    color: var(--light);
    padding: 1.5rem;
    cursor:crosshair;
    text-decoration-line: none;
}

/* nav bar text */
.nav-bar a.active {
    background-color: var(--dark);
    display: inline;
}

/* main banner */
.banner {
    width: 100%;
    height: 100vh;
    background-color: var(--dark); 
    color: var(--light);
    padding: 30px;
}

/* avatar img */
.banner img {
    float: left;
    width: 100px;
    height: 100px;
    margin: 30px 0px 0px 50px;
}

/* h1 element in .banner */
.banner h1 {
    position: relative;
    top: 18px;
    left: 10px;
}

/* h1 positioning */
.title {
    margin: 30px 20px 70px 147px;
    padding: 16px;
}

/* port h1 positioning */
.portitle {
    margin: 60px 15px 25px 60px;
    padding: 44px;
}

.card {
    margin: 350px 20px 70px 86px;
    padding: 16px;
}

/* ul decoration removal */
ul {
    list-style-type: none;
}


li:first-child {
    grid-row: span 2;
}

/* content grid */
.content {
    width: 1000px;
    height: 750px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 50px;
}

/* content grid */
.content1 {
    width: 1000px;
    height: 750px;
    display: grid;
    column-gap: 10px;
    grid-template-columns: auto auto auto;
    padding: 50px;
    margin: 0px 0px 0px 0px;
}

/* boxes normal */
.box {
    width: 278px;
    height: 278px;
    padding: 120px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
}

/* hover state color normal */
.box:hover {
    background: var(--light);
    color: var(--darkred);
}

/* box image fill */
.box img {
    width: 100%;
    height: 100%;
}

/* boxes normal */
.box1 {
    width: 278px;
    height: 278px;
    padding: 120px;
    font-size: 18px;
    text-align: center;
    display: inline-block;
    background-image: url("img/pic01.jpg");
}

/* hover state color normal */
.box1:hover {
    background: var(--light);
    color: var(--darkred);
}

/* box large */
.boxlg {
    width: 880px;
    background-image: url("img/pic01.jpg");
    padding: 80px;
    font-size: 36px;
    text-align: center;
}

/* large box hover state color */
.boxlg:hover {
    background: var(--light);
    color: var(--darkred);
}

/* box large */
.boxlg1 {
    width: 880px;
    /* background-image: url("img/portpic01.jpg"); */
    padding: 80px;
    font-size: 36px;
    text-align: center;
}

/* large box hover state color */
.boxlg1:hover {
    background: var(--light);
    color: var(--darkred);
}

/* box grid color */
.red {
    background-color: var(--darkred);
}

/* footer container + h2 + copyright styling */
.ftcontainer {
    margin-top: 10%;
}

.fthead {
    display: flex;
    justify-content: left;
    margin: 350px auto 30px 130px;
}

.foot {
    background-color: var(--dark); 
    color: var(--light);
    padding: 20px;
    width: 100%;
}

/* contact page */
.contact-container {
    max-width: 400px;
    margin: 0px 0px 20px 100px;
  }

/* phone + email section */
.contactlist {
    list-style-type: none;
    margin-left: -30px;
    padding-right: 20px;
  }
  
  .list-item {
    line-height: 4;
    color: var(--light);
  }
  
  .contact-text {
    letter-spacing: 1.9px;
    color: var(--light);
  }
  
  .phone {
    margin-left: 56px;
  }
  
  .email {
    margin-left: 53px;
  }
  
  .contact-text a {
    color: var(--light);
    text-decoration: none;
    transition-duration: 0.2s;
  }
  
  .contact-text a:hover {
    color: var(--light);
    text-decoration: none;
  }
  
/* contact form */
#form {
    position: relative;
    width: 500px;
    margin: auto auto 300px 0px;
    padding: 100px;
    background-color: var(--dark);
    height: 50px;
}
  
input {
    font-size: 0.850em;
    width: 470px;
    height: 50px;
    padding: 0px 15px 0px 15px;
    background: var(--light);
    background: transparent;
    outline: none;
    border: solid 1px var(--light);
    border-bottom: none;
}
  
input:hover {
    background: var(--light);
    color: var(--light);
}
  
textarea {
    width: 470px;
    max-width: 470px;
    height: 110px;
    max-height: 110px;
    padding: 15px;
    background: transparent;
    outline: none;
    color: var(--light);
    font-size: 0.850em;
    border: solid 1px var(--light);
}
  
textarea:hover {
    background: var(--light);
    color: var(--light);
}
  
#submit {
    width: 502px;
    padding: 0;
    margin: -5px 0px 0px 0px;
    font-size: 0.850em;
    color: var(--light);
    cursor: crosshair;
    border: solid 1px var(--light);
    border-top: none;
}
  
#submit:hover {
    color: var(--light);
}
  
/* Mobile first responsive media queries */
@media screen and (max-width: 481px) {
    .content,
    .content1,
    .box,
    .box1 {
      grid-template-columns: repeat(1, 1fr);
      padding: 19px;
      margin: -10px;
      width: 300px;
    }

.title {
    font-size: 24px;
    padding: 12px;
    }

.boxlg,
.boxlg1 {
      width: 300px;
      height: 400px;
      margin: -10px;
      padding: 19px;
    }
    
.nav-bar a {
      margin: 4px;
    }
  
.banner {
      height: 268vh;
      padding: 20px;
    }
.contact-container {
      margin: 0px 0px 20px -20px;
      text-align: center;
    }

#form {
        padding: 20px;
    }

.input {
      width: 328px;
    }
  
input {
      width: 134px;
    }
  
textarea {
      width: 304px;
    }
#submit {
        width: 336px;
    }
}
  
/* Tablet */
@media screen and (min-width: 768px) {
    .content,
    .box,
    .box1 {
        grid-template-columns: repeat(3, 1fr);
    }
    .content1 {
        grid-template-columns: repeat(4, 1fr);
    }
    .boxlg {
      text-align: left;
    }
    .boxlg1 {
        text-align: left;
      }
}
  
/* Laptop */
@media screen and (min-width: 992px) {
    .content,
    .box,
    .box1 {
        grid-template-columns: repeat(3, 1fr);
    }
    .content1 {
        grid-template-columns: repeat(4, 1fr);
    }
    .boxlg {
      text-align: left;
    }
    .boxlg1 {
        text-align: left;
      }
}    